{{ 'bootstrap3.4.1min.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'forsure-charts.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{% endstyle %}

{% if customer.tags contains 'member' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
  <script src="{{ 'cookie-handler.js' | asset_url }}"></script>
  <div class="section-{{ section.id }}-padding">
    {% render 'forsure-charts-filters' %}
    {% render 'forsure-charts', trashcan: section.settings.trashcan %}
  </div>
<script>
      function showGuide() {
      startGuide([
            { element: "main", group: "{{ 'software.guide.statistics.welcome.group' | t }}", title: "{{ 'software.guide.statistics.welcome.title' | t }}", text: "{{ 'software.guide.statistics.welcome.text' | t }}", where: 'middle' },
            { element: "#guideButton", group: "{{ 'software.guide.statistics.help.group' | t }}", title: "{{ 'software.guide.statistics.help.title' | t }}", text: "{{ 'software.guide.statistics.help.text' | t }}", where: 'below' },
            { element: "#list-element-forsure-statistics", group: "{{ 'software.guide.statistics.overview.group' | t }}", title: "{{ 'software.guide.statistics.overview.title' | t }}", text: "{{ 'software.guide.statistics.overview.text' | t }}", where: 'below' },
            { element: "#list-element-forsure-categorylist-editor", group: "{{ 'software.guide.statistics.categorylist.group' | t }}", title: "{{ 'software.guide.statistics.categorylist.title' | t }}", text: "{{ 'software.guide.statistics.categorylist.text' | t }}", where: 'below' },
            { element: "#list-element-forsure-report", group: "{{ 'software.guide.statistics.report.group' | t }}", title: "{{ 'software.guide.statistics.report.title' | t }}", text: "{{ 'software.guide.statistics.report.text' | t }}", where: 'below' },
            { element: "#list-element-forsure-downloads", group: "{{ 'software.guide.statistics.history.group' | t }}", title: "{{ 'software.guide.statistics.history.title' | t }}", text: "{{ 'software.guide.statistics.history.text' | t }}", where: 'below' },
            { element: "#list-element-forsure-configuration", group: "{{ 'software.guide.statistics.settings.group' | t }}", title: "{{ 'software.guide.statistics.settings.title' | t }}", text: "{{ 'software.guide.statistics.settings.text' | t }}", where: 'below' },
            { element: "#notificationBell", group: "{{ 'software.guide.report.notifications.group' | t }}", title: "{{ 'software.guide.report.notifications.title' | t }}", text: "{{ 'software.guide.report.notifications.text' | t }}", where: 'below' },
            { element: "#user-icon", group: "{{ 'software.guide.statistics.account.group' | t }}", title: "{{ 'software.guide.statistics.account.title' | t }}", text: "{{ 'software.guide.statistics.account.text' | t }}", where: 'below' },
            { element: "main", group: "{{ 'software.guide.statistics.overviewReportEnd.group' | t }}", title: "{{ 'software.guide.statistics.overviewReportEnd.title' | t }}", text: "{{ 'software.guide.statistics.overviewReportEnd.text' | t }}", where: 'middle' },

            { element: "#customChart", group: "{{ 'software.guide.statistics.createChart.group' | t }}", title: "{{ 'software.guide.statistics.createChart.title' | t }}", text: "{{ 'software.guide.statistics.createChart.text' | t }}", where: 'inside' },
            { element: "#chosenYContainer", group: "{{ 'software.guide.statistics.yAxis.group' | t }}", title: "{{ 'software.guide.statistics.yAxis.title' | t }}", text: "{{ 'software.guide.statistics.yAxis.text' | t }}", secondElement: "#columnsContentLeft ul li:first-child div", where: 'right', hideOther: '.colItemContainer' },
            { element: "#chosenX", group: "{{ 'software.guide.statistics.xAxis.group' | t }}", title: "{{ 'software.guide.statistics.xAxis.title' | t }}", text: "{{ 'software.guide.statistics.xAxis.text' | t }}", secondElement: "#columnsContentLeft > :nth-child(2) ul li:first-child div", where: 'right', hideOther: '.colItemContainer' },
            { element: "#widgetCustom", group: "{{ 'software.guide.statistics.showChart.group' | t }}", title: "{{ 'software.guide.statistics.showChart.title' | t }}", text: "{{ 'software.guide.statistics.showChart.text' | t }}", where: 'inside', hideOther: '.colItemContainer' },
            { element: ".iconContainer", group: "{{ 'software.guide.statistics.chartOptions.group' | t }}", title: "{{ 'software.guide.statistics.chartOptions.title' | t }}", text: "{{ 'software.guide.statistics.chartOptions.text' | t }}", where: 'left'},

            { element: "#countries-filter-guide", group: "{{ 'software.guide.statistics.countryFilter.group' | t }}", title: "{{ 'software.guide.statistics.countryFilter.title' | t }}", text: "{{ 'software.guide.statistics.countryFilter.text' | t }}", where: 'below' },
            { element: "#date-filter-guide", group: "{{ 'software.guide.statistics.dateFilter.group' | t }}", title: "{{ 'software.guide.statistics.dateFilter.title' | t }}", text: "{{ 'software.guide.statistics.dateFilter.text' | t }}", where: 'below' },
            { element: "#profile-filter-guide", group: "{{ 'software.guide.statistics.profileFilter.group' | t }}", title: "{{ 'software.guide.statistics.profileFilter.title' | t }}", text: "{{ 'software.guide.statistics.profileFilter.text' | t }}", where: 'below' },

            { element: "#widgetReportsDue", group: "{{ 'software.guide.statistics.reportsDue.group' | t }}", title: "{{ 'software.guide.statistics.reportsDue.title' | t }}", text: "{{ 'software.guide.statistics.reportsDue.text' | t }}", where: 'right'},
            { element: "#widgetContainer > :nth-child(2)", group: "{{ 'software.guide.statistics.example.group' | t }}", title: "{{ 'software.guide.statistics.example.title' | t }}", text: "{{ 'software.guide.statistics.example.text' | t }}", where: 'left'},
          ]);
          setCookie('showedGuideChart', 'true', 300);
    }

function showGuideFromButton(element) {
  showGuide();
}

waitForPermission(function() {
  if (window.userPermissions['forsure-statistics']) {
    if(readCookie('showedGuideChart') === null) {
      setTimeout(showGuide, 1000); // Delay in milliseconds, adjust as necessary
    }
  }
});

</script>
{% else %}
  <div class="image-with-text image-with-text--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
    <h1>Welcome,</h1>
    <h2>Please log in to see this page</h2>
  </div>
{% endif %}

{% schema %}
  {
    "name": "t:sections.forsure_charts.name",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "trashcan",
        "label": "Trashcan"
      },
      {
        "type": "select",
        "id": "desktop_image_width",
        "options": [
          {
            "value": "small",
            "label": "t:sections.forsure_charts.settings.desktop_image_width.options__1.label"
          }, {
            "value": "medium",
            "label": "t:sections.forsure_charts.settings.desktop_image_width.options__2.label"
          }, {
            "value": "large",
            "label": "t:sections.forsure_charts.settings.desktop_image_width.options__3.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.forsure_charts.settings.desktop_image_width.label",
        "info": "t:sections.forsure_charts.settings.desktop_image_width.info"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "image_first",
            "label": "t:sections.forsure_charts.settings.layout.options__1.label"
          }, {
            "value": "text_first",
            "label": "t:sections.forsure_charts.settings.layout.options__2.label"
          }
        ],
        "default": "image_first",
        "label": "t:sections.forsure_charts.settings.layout.label",
        "info": "t:sections.forsure_charts.settings.layout.info"
      },
      {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "top",
            "label": "t:sections.forsure_charts.settings.desktop_content_position.options__1.label"
          }, {
            "value": "middle",
            "label": "t:sections.forsure_charts.settings.desktop_content_position.options__2.label"
          }, {
            "value": "bottom",
            "label": "t:sections.forsure_charts.settings.desktop_content_position.options__3.label"
          }
        ],
        "default": "top",
        "label": "t:sections.forsure_charts.settings.desktop_content_position.label"
      },
      {
        "type": "select",
        "id": "desktop_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.forsure_charts.settings.desktop_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.forsure_charts.settings.desktop_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.forsure_charts.settings.desktop_content_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "t:sections.forsure_charts.settings.desktop_content_alignment.label"
      }, {
        "type": "select",
        "id": "content_layout",
        "options": [
          {
            "value": "no-overlap",
            "label": "t:sections.forsure_charts.settings.content_layout.options__1.label"
          }, {
            "value": "overlap",
            "label": "t:sections.forsure_charts.settings.content_layout.options__2.label"
          }
        ],
        "default": "no-overlap",
        "label": "t:sections.forsure_charts.settings.content_layout.label"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }, {
        "type": "select",
        "id": "color_scheme2",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }, {
        "type": "header",
        "content": "Mobile layout"
      }, {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.forsure_charts.settings.mobile_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.forsure_charts.settings.mobile_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.forsure_charts.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "t:sections.forsure_charts.settings.mobile_content_alignment.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.forsure_charts.presets.name"
      }
    ]
  }
{% endschema %}