{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap3.4.1min.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.forsure-dashboard-container {
  display: flex;
  flex-wrap: wrap; /* Ensures wrapping on small screens */
  gap: 1rem;
}
.dashboard-outer-container {
  width: 90%;
  margin: auto;
}

#bannerleft {
  flex: 0 0 auto;
  min-width: 420px; /* minimum to ensure deadlines are shown properly and aligned */
  height: calc(90vh - 13rem);
}

.grid-title {
    background-color: #484B52;
    color: #fafafa;
    font-weight: bold;
    width: 100%;
    height: 40px;
    position: absolute;
    padding: 1rem;
    top: 0;
    border-bottom: 0.2rem solid #17161c;
    text-align: left;
    position: sticky; /* Makes the title sticky */
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-between;
  }

  .widget {
    border: 0.2rem solid #17161c!important;
    margin: 5px;
    box-sizing: border-box;
    position: relative; /* Make the widget relative so that the svg can be positioned absolutely within it */
    border-radius: 1rem;
    background-color: #fafafa;
    overflow-y: auto;
  }

  .icon-container {
    display: flex;
    gap: 1rem;
  }


.widget-left {  
  width: fit-content;
  min-width: 100%;
}
#bannerright {
  flex: 1 1 auto;
  min-width: 0;
}

.widget-right {
  width: 100%;
  height: calc(90vh - 13rem);
}

.icon-container div {
  cursor: pointer;
  display: flex;
}

{%- endstyle -%}
{% if customer.tags contains 'member' or customer.tags contains 'vendor' %}


  <!-- Load d3.js -->
  <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/d3@7"> </script>
{% render 'forsure-simple-notification' %}
{% render 'forsure-confirmation' %}
<div class="section-{{ section.id }}-padding">
     <div class="dashboard-outer-container">
        <div class="forsure-dashboard-container">
          <div id="bannerleft">
            {% render 'forsure-deadline-widget', showName: true, gridItem: true %}
            {% render 'forsure-information-widget' %}
          </div>
          <div id="bannerright">
            {% render 'forsure-information-details-widget' %}
            {% render 'forsure-map-widget' %}
          </div>
        </div>
     </div>
</div>

<script>
  function showGuide() {
    startGuide([
          { element: "main", group: "{{ 'software.guide.menu.welcome.group' | t }}", title: "{{ 'software.guide.menu.welcome.title' | t }}", text: "{{ 'software.guide.menu.welcome.text' | t }}", where: 'middle' },
          { element: "main", group: "{{ 'software.guide.menu.guide.group' | t }}", title: "{{ 'software.guide.menu.guide.title' | t }}", text: "{{ 'software.guide.menu.guide.text' | t }}", where: 'middle' },
          { element: "#guideButton", group: "{{ 'software.guide.menu.help.group' | t }}", title: "{{ 'software.guide.menu.help.title' | t }}", text: "{{ 'software.guide.menu.help.text' | t }}", where: 'below' },
          { element: "#list-element-forsure-dashboard", group: "{{ 'software.guide.menu.overview.group' | t }}", title: "{{ 'software.guide.menu.overview.title' | t }}", text: "{{ 'software.guide.menu.overview.text' | t }}", where: 'below' },
          { element: "#list-element-forsure-categorylist-editor", group: "{{ 'software.guide.menu.categorylist.group' | t }}", title: "{{ 'software.guide.menu.categorylist.title' | t }}", text: "{{ 'software.guide.menu.categorylist.text' | t }}", where: 'below' },
          { element: "#list-element-forsure-report", group: "{{ 'software.guide.menu.report.group' | t }}", title: "{{ 'software.guide.menu.report.title' | t }}", text: "{{ 'software.guide.menu.report.text' | t }}", where: 'below' },
          { element: "#list-element-forsure-downloads", group: "{{ 'software.guide.menu.history.group' | t }}", title: "{{ 'software.guide.menu.history.title' | t }}", text: "{{ 'software.guide.menu.history.text' | t }}", where: 'below' },
          { element: "#list-element-forsure-statistics", group: "{{ 'software.guide.menu.statistics.group' | t }}", title: "{{ 'software.guide.menu.statistics.title' | t }}", text: "{{ 'software.guide.menu.statistics.text' | t }}", where: 'below' },
          { element: "#gear-icon", group: "{{ 'software.guide.menu.settings.group' | t }}", title: "{{ 'software.guide.menu.settings.title' | t }}", text: "{{ 'software.guide.menu.settings.text' | t }}", where: 'below' },
          { element: "#notificationBell", group: "{{ 'software.guide.menu.notifications.group' | t }}", title: "{{ 'software.guide.menu.notifications.title' | t }}", text: "{{ 'software.guide.menu.notifications.text' | t }}", where: 'below' },
          { element: "main", group: "{{ 'software.guide.menu.overviewReportEnd.group' | t }}", title: "{{ 'software.guide.menu.overviewReportEnd.title' | t }}", text: "{{ 'software.guide.menu.overviewReportEnd.text' | t }}", where: 'middle' },
          
          
          { element: "#mapContainer", group: "{{ 'software.guide.dashboard.map.group' | t }}", title: "{{ 'software.guide.dashboard.map.title' | t }}", text: "{{ 'software.guide.dashboard.map.text' | t }}", where: 'left' },
          { element: "#mapTitle .icon-container", group: "{{ 'software.guide.dashboard.mapIcons.group' | t }}", title: "{{ 'software.guide.dashboard.mapIcons.title' | t }}", text: "{{ 'software.guide.dashboard.mapIcons.text' | t }}", where: 'below', secondElement: "#mapTitle" },
          
          { element: "#deadlineContainer", group: "{{ 'software.guide.dashboard.deadlineWidget.group' | t }}", title: "{{ 'software.guide.dashboard.deadlineWidget.title' | t }}", text: "{{ 'software.guide.dashboard.deadlineWidget.text' | t }}", where: 'right' },
          
          { element: "#informationContainer", group: "{{ 'software.guide.dashboard.informationWidget.group' | t }}", title: "{{ 'software.guide.dashboard.informationWidget.title' | t }}", text: "{{ 'software.guide.dashboard.informationWidget.text' | t }}", where: 'right' },
          { element: "#expandInformation", group: "{{ 'software.guide.dashboard.informationExpand.group' | t }}", title: "{{ 'software.guide.dashboard.informationExpand.title' | t }}", text: "{{ 'software.guide.dashboard.informationExpand.text' | t }}", where: 'below' , secondElement: "#informationTitle"},
          { element: "#informationSettingsIcon", group: "{{ 'software.guide.dashboard.informationSettings.group' | t }}", title: "{{ 'software.guide.dashboard.informationSettings.title' | t }}", text: "{{ 'software.guide.dashboard.informationSettings.text' | t }}", where: 'below' , secondElement: "#informationTitle"},

        ]);
        setCookie('showedGuideDashboard', 'true', 300);
  }

function showGuideFromButton(element) {
showGuide();
}

waitForPermission(function() {
if (window.userPermissions['forsure-dashboard']) {
  if(readCookie('showedGuideDashboard') === null) {
    setTimeout(showGuide, 1000); // Delay in milliseconds, adjust as necessary
  } else {
    if (window.userPermissions['no-pros-chosen'] !== undefined) {
      // don't open popup if user sees guide
      openMapAdd();
    }
  }
}
});
</script>
{% endif %}

{% schema %}
  {
    "name": "t:sections.forsure_dashboard.name",
    "class": "section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.forsure_dashboard.presets.name"
      }
    ]
  }
{% endschema %}