{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .multicolumn-grid {
      column-gap: {{ section.settings.column_gap }}px;
      row-gap: {{ section.settings.row_gap }}px;
    }
    .grid--2--item {
      width: calc(50% - {{section.settings.column_gap}}px / 2)!important;
      max-width: calc(50% - {{section.settings.column_gap}}px / 2)!important;
    }
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = true
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div {% if section.settings.anchor_wanted %}id="{{ section.settings.anchor_id }}"{% endif %} class="{% if section.settings.anchor_wanted %}anchor {% endif %}multicolumn {% if section.settings.background_color == blank %} color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% endif %}{% if section.settings.title == blank %} no-heading{% endif %}"
  style="{% if section.settings.background_color %}background-color:{{section.settings.background_color}}{% endif %}">
  <div class="page-width section-{{ section.id }}-padding isolate">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin"v style="margin-bottom: 4rem">
    <{{ section.settings.heading_size_google }} class="title {{ section.settings.heading_size }}" style="{% if section.settings.heading_center %}margin: auto;{% endif %}">
          {{ section.settings.title | escape }}
        </{{ section.settings.heading_size_google }}>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul class="{% if section.settings.center_columns %}center_columns{% endif %} multicolumn-list contains-content-container multicolumn-grid grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        style="position: relative;flex-wrap: inherit;overflow-x: auto;scroll-snap-type: x mandatory;scroll-behavior: smooth;scroll-padding-left: 1.5rem;-webkit-overflow-scrolling: touch;margin-bottom: 1rem;width: 100%;list-style: none;column-gap: var(--grid-mobile-horizontal-spacing);row-gap: var(--grid-mobile-vertical-spacing);"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank and block.settings.title == blank and block.settings.text == blank and block.settings.link_label == blank -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="multicolumn-list__item grid__item grid--{{ section.settings.columns_desktop }}--item {% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}" {{ block.shopify_attributes }}>
            {% assign modulo_result = forloop.index0 | modulo: section.settings.columns_desktop %}
            <div class="multicolumn-card content-container {% if modulo_result == 0 %}align-right-col{% else %}align-left-col{% endif %}" style="width: {{ section.settings.container_width }}%;margin:auto">
              {%- if block.settings.image != blank or block.settings.image_as_snippet != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}"
                  style="{% if block.settings.center_image %}margin: auto{% endif %}">
                  <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}>
                    {% if block.settings.image != blank %}
                    {%- capture sizes -%}(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %}, (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                    {{ block.settings.image | image_url: width: 1420 | image_tag:
                      loading: 'lazy',
                      sizes: sizes,
                      widths: '275, 550, 710, 1420',
                      class: 'multicolumn-card__image',
                      alt: block.settings.alt_text
                    }}
                    {% elsif block.settings.image_as_snippet != blank %}
                      {% render 'icon-renderer', icon_to_render: block.settings.image_as_snippet %}
                    {% endif %}
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if block.settings.title != blank %}
                  {% if forloop.index == 0 %}
                    {% assign card_index = section.settings.heading_size_google_card0 %}
                  {% elsif forloop.index == 1 %}
                    {% assign card_index = section.settings.heading_size_google_card1 %}
                  {% elsif forloop.index == 2 %}
                    {% assign card_index = section.settings.heading_size_google_card2 %}
                  {% endif %}
                <{{ card_index }} class="h3" style="{% if block.settings.center_title %}text-align: center{% endif %}">{{ block.settings.title | escape }}</{{ card_index }}>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte {% if block.settings.center_text %}centertext{% endif %}">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a class="link animate-arrow" {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_label | escape }}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider -%}
        <div class="slider-buttons no-js-hidden" style="display:flex">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" style="transform: rotate(90deg);color: #fafafa;">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption" style="color:#fafafa">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" style="transform: rotate(270deg);color: #fafafa;">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Multicolumn Productpage",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "heading_center",
      "default": false,
      "label": "Center Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_size_google",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size_google.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size_google.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size_google.options__3.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size_google.options__4.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size_google.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size_google.label"
    },
    {
      "type": "select",
      "id": "heading_size_google_card0",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size_google.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size_google.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size_google.options__3.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size_google.options__4.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size_google.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size_google.label"
    },
    {
      "type": "select",
      "id": "heading_size_google_card1",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size_google.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size_google.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size_google.options__3.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size_google.options__4.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size_google.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size_google.label"
    },
    {
      "type": "select",
      "id": "heading_size_google_card2",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size_google.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size_google.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size_google.options__3.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size_google.options__4.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size_google.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size_google.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "text",
      "id": "anchor_id",
      "default": "multicolumn",
      "label": "t:sections.multicolumn.settings.anchor_id.label"
    },
    {
      "type": "checkbox",
      "id": "anchor_wanted",
      "default": false,
      "label": "t:sections.multicolumn.settings.anchor_wanted.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "center_columns",
      "default": false,
      "label": "Center the columns"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "container_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Container Width in %",
      "default": 100
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column gap in px",
      "default": 40
    },
    {
      "type": "range",
      "id": "row_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Row gap in px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "with_image",
          "default": true,
          "label": "Choose an image (either snippet or from shopify)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt text"
        },
        {
          "type": "text",
          "id": "image_as_snippet",
          "label": "Icon (choose from snippets)"
        },
        {
          "type": "checkbox",
          "id": "center_image",
          "default": false,
          "label": "Center the Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "checkbox",
          "id": "center_title",
          "default": false,
          "label": "Center the Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "center_text",
          "default": false,
          "label": "Center the Text"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn Productpage",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
