<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-suggested-blog.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

    
  .left-top-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(100vw/8) calc(100vw/6.5) 0 0;
    border-color: #2255ff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the triangle appears above other content if needed */
    display: block !important;
  }
  .right-top-triangle {
    width: 0;
    height: 0;
    border-style: solid;
   border-width: 0 calc(100vw/6.5) calc(100vw/8) 0;
    border-color: transparent #2255ff transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* Ensure the triangle appears above other content if needed */
    display: block !important;
  }
  .left-bottom-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(100vw/8) 0 0 calc(100vw/6.5);
    border-color: transparent transparent transparent #2255ff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; /* Ensure the triangle appears above other content if needed */
    display: block !important;
  }
  .right-bottom-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 calc(100vw/8) calc(100vw/6.5);
    border-color: transparent transparent #2255ff transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; /* Ensure the triangle appears above other content if needed */
    display: block !important;
  }
{%- endstyle -%}
{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif -%}
  {% assign color_pattern = "0,1,2" | split: "," %}
<div class="background-triangle blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
  
  {% if section.settings.bluecorner_upper_left %}
    <div class="left-top-triangle"></div>
  {% endif %}
  {% if section.settings.bluecorner_upper_right %}
    <div class="right-top-triangle"></div>
  {% endif %}
  {% if section.settings.bluecorner_lower_left %}
    <div class="left-bottom-triangle"></div>
  {% endif %}
  {% if section.settings.bluecorner_lower_right %}
    <div class="right-bottom-triangle"></div>
  {% endif %}
  <div id="newshub" class="page-width-desktop {% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link{% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %}">
        <h2 id="SectionHeading-{{ section.id }}" class="blog__title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <slider-component class="slider-mobile-gutter">
      <div class="main-blog page-width section-{{ section.id }}-padding">
      <ul id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper contains-card blog-articles blog-articles-display blog-articles--collage contains-card--article{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--peek grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}"
          role="list"
        >
      {% assign current_article_tags = nil %}
      {% for article in section.settings.blog.articles %}
        {% if request.path == article.url %}
          {% assign current_article_tags = article.tags %}
        {% endif %}
      {% endfor %}
      {% assign max_tags = current_article_tags | size %}
      {%- assign software_count = 0 -%}
      {%- for count in (0..max_tags) -%}
        {% assign matching_count = max_tags | minus: count %}
        {%- for article in section.settings.blog.articles -%}
            {% if request.path != article.url %}
              {%- assign matching_tags_count = 0 -%}
              {%- for tag in article.tags -%}
                {%- if current_article_tags contains tag -%}
                  {%- assign matching_tags_count = matching_tags_count | plus: 1 -%}
                {%- endif -%}
              {%- endfor -%}
              {%- if matching_tags_count == matching_count and software_count < section.settings.post_limit -%}
                {% assign loopindex = software_count | modulo: 3 %}
                {% assign color_index = color_pattern[loopindex] %}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="blog__post article slider__slide slider__slide--full-width {{ article.tags }}">
                <div class="blog-articles__article article" style="width: 100%">
                  {% render 'article-card',
                    article: article,
                    media_height: section.settings.image_height,
                    media_aspect_ratio: article.image.aspect_ratio,
                    show_image: section.settings.show_image, 
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true,
                    color_style: color_index %}
                </div>
                </li>
                {%- assign software_count = software_count | plus: 1 -%}
              {%- endif -%}
            {% endif %}
          {%- endfor -%}            
        {% endfor %}
       </ul>
        {%- if posts_exceed_limit -%}
          <div class="blog__view-all center">
              <a href="{{ section.settings.blog.url }}" id="ViewAll-{{ section.id }}" class="blog__button button" aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
              style="margin-top:3rem">
                {{ 'sections.featured_blog.view_all' | t }}
              </a>
          </div>
        {%- endif -%}
      </div>
      </slider-component>
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.suggested-blog-homepage.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blogs posts",
      "label": "t:sections.suggested-blog-homepage.settings.heading.label"
    },
    {
        "type": "checkbox",
        "id": "bluecorner_upper_left",
        "label": "Blue Corner Upper Left",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "bluecorner_upper_right",
        "label": "Blue Corner Upper Right",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "bluecorner_lower_left",
        "label": "Blue Corner Lower Left",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "bluecorner_lower_right",
        "label": "Blue Corner Lower Right",
        "default": false
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.suggested-blog-homepage.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.suggested-blog-homepage.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.suggested-blog-homepage.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.suggested-blog-homepage.settings.show_image.label",
      "info": "t:sections.suggested-blog-homepage.settings.show_image.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.suggested-blog-homepage.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.suggested-blog-homepage.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.suggested-blog-homepage.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.suggested-blog-homepage.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
